body {
    font-family: "Lora";
    padding: 0; 
    margin: 0;    
}
.cabecera {
    background-color: white;
    text-align: center;
}
.entradas {
    background-color: rgb(230, 230, 230);
    width: 100%;
}
img {
    width: 800px;
    height: 600px;
    object-fit: cover;
}
.entradas > div {
    width: 800px;
    height: 800px;
    background-color: white;
    margin: 50px auto;
}
h2 {
    width: 75%;
    margin-left: 30px;
}
p {
    margin-left: 20px;
}
.titulo {
    display: flex;
    align-items: baseline;
}
.titulo > p {
    color: darkgray;
}